
annotated-types
anyio
async-timeout
bcrypt
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
cymem
distro
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
exceptiongroup
faiss-cpu
fastapi
h11
httpcore
httpx
idna
Jinja2
jiter
jsonpatch
jsonpointer
langchain-core
langchain-text-splitters
langcodes
langdetect
langsmith
language_data
lxml
marisa-trie
markdown-it-py
MarkupSafe
mdurl
murmurhash
numpy
openai
orjson
packaging
preshed
psycopg2-binary
pydantic
pydantic_core
Pygments
PyMuPDF
pymupdf4llm
python-docx
python-dotenv
python-multipart
PyYAML
redis
requests
requests-toolbelt
rich
shellingham
six
smart-open
sniffio
spacy
spacy-legacy
spacy-loggers
srsly
starlette
tenacity
thinc
tqdm
typer
typing_extensions
urllib3
uvicorn
wasabi
weasel
wrapt
